/* ------------ Media Query Manager --------------- */
/*
$bp-large: 64em;                    // 1024px
$bp-medium: 48em;                     // 768px
$bp-small: 31.25em;                 // 500px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 31.25em) {
            @content;
        }
    }
    @if $breakpoint == tablet-max {
        @media only screen and (max-width: 48em) {
            @content;
        }
    }
    @if $breakpoint == tablet-min {
        @media only screen and (min-width: 48em) {
            @content;
        }
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 64em) {
            @content;
        }
    };
}