:root {
  --color-primary: #4486f6;
  --color-primary-dark: #44f6ed;
  --color-secondary: #6e33ff;
  --color-secondary-dark: #410cc1;
  --color-red: #ec5252;
  --color-yellow: #fff566;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #323232;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}
