.courses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & h3 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--color-grey-dark-1);
    }

    &__card {
        background-color: var(--color-grey-dark-1);
        box-shadow: 0 0 4rem rgba(black, 0.3);
        border-radius: 5px;
        overflow: hidden;
        margin: 3rem 2rem;
    }
    &__img-box {
        width: 30rem;
        height: 25rem;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        padding: 3rem;

        & h3 {
            margin: 2rem 0;
            color: white;
        }

        & p {
            font-size: 1.8rem;
            font-weight: 300;
            color: rgba(white, 0.8);
        }
    }
    &__rating {
        font-size: 2rem;
        color: var(--color-yellow);
        margin: 1rem 0;
    }
}