$bp-large: 64em;                    // 1024px
$bp-medium: 48em;                     // 768px
$bp-small: 31.25em;                 // 500px

.header-box {
    display: grid;
    grid-template-rows: 100vh;
    max-width: 100%;
    width: 100%;

    
  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-rows: 80vh;
  }

  @media only screen and (max-width: $bp-small) {
    display: grid;
    grid-template-rows: 60vh; 
  }
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://github.com/Ceci007/image-repository/blob/master/img/header-bg.jpg?raw=true");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
    position: relative;
    margin-top: 7.5rem;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
} 

.text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 10rem;
    margin-right: 2.25rem;
    &__input {
        font-family: inherit;
        font-size: 1.7rem;
        color: var(--color-grey-dark-1);
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 1.5rem 2rem;
        border-radius: .4rem;
        box-shadow: var(--shadow-dark);
        width: 70%;
        transition: all .3s;
        margin-right: -6.5rem;
        &:focus {
            outline: none;
            width: 90%;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-dark-1);
        }
    }
    &__input:focus ~ &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        border-left: 2px solid var(--color-grey-dark-1);
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(.2rem);
        }
        & i {
            color: var(--color-grey-dark-1);
            font-size: 2.5rem;
            margin-left: 1.5rem;
        }
    }
}

  
